@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

@font-face {
  font-family: 'main';
  src: url(/tint/assets/corleone/Corleone.TTF);
  font-style: normal;
  font-weight: 600;
}


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/

    --main-color: #EE0000;
    --main-color-alt : #820808;
    --main-color-light: #F98181;
    --white-color: #FFFFFF;
    --container-color: #222222;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --subtitle-size: 2rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-small: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s; /* For animation dark mode */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input,
  button {
    font-family: var(--body-font);
    outline: none;
    border: none;
  }
  
  /*=============== THEME ===============*/
  
  
  /*========== Variables Dark theme ==========*/
  
  
  /*========== 
      Color changes in some parts of 
      the website, in dark theme 
  ==========*/
  
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .grid {
    display: grid;
  }
  
  .section {
    padding: 4.5rem 0 2rem;
  }
  
  .section__title {
    font-family: main;
    font-size: var(--subtitle-size);
    margin-bottom: 1rem;
  }
  
  .section__title span {
    color: var(--second-color);
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--main-color);
  }
  
  .main {
    overflow: hidden; /* For the animations ScrollReveal*/
  }
  
  /*=============== HEADER & NAV ===============*/
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
  }

  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo{
    font-family: main;
    font-size: var(--h2-font-size);
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
  }


  @media screen and (max-width: 1023px){
    .nav__menu{
      position: fixed;
      bottom: 2rem;
      background-color: var(--container-color);
      box-shadow: 0 8px 24px rgba(190, 39, 39, 0.3);
      width: 90%;
      left: 0;
      right: 0;
      margin: auto;
      padding: 1.3rem 3rem;
      border-radius: 1.25rem;
      transition: .4s;
    }

    .nav__list{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav__list li:nth-child(2){
      display: none;
    }

    .nav__link{
      color: var(--white-color);
      display: flex;
      padding: .5rem;
      border-radius: 50%;
    }

    .nav__link i{
      font-size: 1.45rem;
    }

    .nav__link span{
      display: none;
    }
  }
  
  /* Change background header */
  .scroll-header{
    background-color: var(--black-color);
    box-shadow: 0 1px 4px hsla(228, 66%, 45%, .15);
  }
  
  /* Active link */
  .active-link{
    background: var(--main-color);
    padding-bottom: 0;
  }
  
  /*=============== HOME ===============*/
  .home{
    background: linear-gradient(155deg,
                var(--main-color-alt) 0%,
                var(--black-color)15%) ;
    padding-bottom: 0;
  }

  .home__container{
    padding-top: 4rem;
    row-gap: 3.5rem;
  }

  .home__title,
  .home__description{
    color: var(--white-color);
  }

  .home__title{
    font-family: main-font;
    text-align: center;
    font-size: var(--biggest-font-size);
    line-height: 120%;
  }

  .home__title img{
    width: 300px;
  }

  .home__subtitle{
    text-align: center;
    color: var(--main-color-light);
    font-size: var(--h2-font-size);
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  .home__subtitle span{
    color: var(--white-color);
    font-size: var(--h3-font-size);
  }

  .home__description{
    color: var(--white-color);
    margin-bottom: 2rem;
    font-size: var(--h3-font-size);
    font-weight: 400;
  }

  .home__description span{
    color: var(--main-color);
    font-weight: var(--font-semi-bold);
  }

  .home__cta{
    display: flex;
    align-items: center;
    background-color: var(--black-color);
    padding: .55rem .55rem .55rem .75rem;
    display: flex;
    border-radius: .75rem;
    border: 3px solid var(--white-color);
    margin-bottom: 2rem;
  }

  .home__cta i{
    font-size: 1.5rem;
    color: var(--main-color);
  }

  .home__cta .location{
    width: 90%;
    color: var(--white-color);
    margin: 0 .5rem;
  }

  .location span{
    display: none;
  }

  .home__social{
    display: flex;
    column-gap: 2.5rem;
    text-align: center;
    justify-content: center;
  }

  .social__group{
    display: inline-flex;
    align-items: center;
  }

  .social__icon i{
    font-size: 2.3rem;
    color: var(--white-color);
    margin-right: .2rem;
  }

  .social__name{
    color: var(--white-color);
    font-size: var(--smaller-font-size);
    font-weight: 400;
  }

  .home__images{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .img__bkgr{
    width: 320px;
    height: 248px;
    background: linear-gradient(180deg,
                var(--main-color) 3%,
                var(--black-color) 100%);
    border-radius: 12px 12px 0 0;
  }

  .home__img{
    position: absolute;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 10px 10px 5px 5px;
    display: inline-flex;
    align-items: flex-end;
    bottom: -2.8rem;
    box-shadow: 0 16px 32px rgba(190, 39, 39, 0.341);
  }
  
  /*=============== BUTTON ===============*/
  .button{
    display: inline-block;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: .5rem;
    padding: 10px 18px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer
  }

  .nav__button{
    display: none;
  }

  .home__button{
    padding: 5px 10px;
  }

  .home__button i{
    color: var(--white-color);
    font-size: 2rem;
  }

  .home__cta .button:nth-child(4){
    display: none;
  }
  
  
  /*=============== Previous Work ===============*/
  .prev__container{
    padding: 1rem 0 5rem;
  }

  .prev__card{
    width: 330px;
    background-color: transparent;
    padding: 1rem 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: .4s;
  }

  .prev__img{
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .prev__data{
    padding: 0 1rem 0 .5rem;
  }

  .prev__car{
    font-size: var(--h2-font-size);
    color: var(--black-color);
    margin-bottom: .25rem;
  }

  .prev__work{
    color: var(--container-color);
    font-size: var(--normal-font-size);
  }

  .prev__card:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.246);
  }
  
  /* Swiper class */
  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: '';
  }

  .swiper-button-next,
  .swiper-button-prev{
    top: initial;
    bottom: 1.2;
    width: initial;
    height: initial;
    background-color: transparent;
    border: 4px solid var(--main-color);
    padding: 6px;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--main-color);
  }

  .swiper-button-prev{
    left: calc(50% - 3.5rem);
  }

  .swiper-button-next{
    right: calc(50% - 3.5rem);
  }
  
  
  /*Rotate icon and add shadows*/
  
  
  /*=============== CONTACT ===============*/
  
  
  /*=============== FOOTER ===============*/
  
  
  /*=============== SCROLL BAR ===============*/
  
  
  /*=============== SCROLL UP ===============*/
  
  
  /* Show Scroll Up*/
  
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 350px){
    .container{
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .section{
      padding: 3.5rem 0 1rem;
    }

    .home{
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 320px){
    .nav__menu{
      padding: 1.3rem 1.5rem;
    }

    .home__img{
      width: 220px;
      height: 280px;
    }

    .img__bkgr{
      width: 240px;
      height: 264px;
    }

    .prev__card{
      width: 230px;
      padding: .5rem .5rem .75rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 567px){
    .nav__menu{
      width: 342px;
    }

    .home__cta{
      width: 412px;
    }
  }

  @media screen and (min-width: 767px){
    .home__container{
      grid-template-columns: repeat(2, 1fr);
      padding-top: 2rem;
    }

    .location span{
      display: contents;
    }

    .img__bkgr{
      align-self: flex-end;
    }

    .home__social{
      padding-bottom: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev{
      bottom: 2;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1023px){
    .section{
      padding: 7.5rem 0 1rem;
    }

    .section__subtitle{
      font-size: var(--h3-font-size);
      margin-bottom: .5rem;
    }

    .section__title{
      font-size: 3.25rem;
    }

    .nav{
      height: calc(3.5rem + 1.5rem);
    }

    .nav__menu{
      width: initial;
      margin-left: auto;
    }

    .nav__list{
      display: flex;
      column-gap: 3rem;
    }

    .nav__link{
      color: var(--white-color);
    }

    .nav__link i{
      display: none;
    }

    .nav__button{
      display: none;
      margin-left: 3rem;
    }

    .active-link{
      background: none;
      box-shadow: none;
      color: var(--main-color);
      font-weight: var(--font-medium);
    }

    .home{
      padding-bottom: 0;
    }

    .home__container{
      padding-top: 5rem;
      column-gap: 2rem;
    }

    .home__social{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .social__name{
      font-size: var(--normal-font-size);
    }

    .home__title img{
      width: 375px;
    }

    .home__subtitle{
      font-size: var(--h1-font-size);
    }

    .img__bkgr{
      width: 480px;
      height: 611px;
    }

    .home__img{
      width: 432px;
      height: 634px;
      bottom: -2.5rem;
    }

    .prev__container{
      padding-top: 3rem;
    }
  }