@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Pacifico&family=Rye&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Rye', cursive; */

/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 5.5rem;

    /* colors */
    --main-color: #EE0000;
    --main-color-alt: #F36C6C;
    --text-color: #ffff;
    --body-color: #000;
    --nav-color: #181515;
    --container-color: #ff9e44;

    /* Font and Typography */
    --body-font: 'Lora', serif;
    --title-font: 'Rye', cursive;
    --biggest-font-size: 2.7rem;
    --big-font-size: 2.5rem;
    --subtitle-size: 2.3rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 10;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --big-font-size: 3.2rem;
      --subtitle-size: 2.7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{ 
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{ 
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
}

.section{
    padding: 4.5rem 0 0;  
}

.section__title{
    font-size: var(--subtitle-size);
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}

.section__title span{
    color: var(--main-color);
}

.section__subtitle{ 
    display: block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    font-family: var(--title-font);
    margin-bottom: 1rem;
}

.button{
    display: inline-block;
    background: var(--main-color);
    /* border: 4px solid var(--main-color); */
    /* border-radius: .5rem; */
    color: var(--text-color);
    padding: 1rem 1rem;
    border-radius: .2rem;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    font-family: var(--title-font);
    transition: .3s;
    cursor: pointer
}

.line{
  position: relative;
  content: '';
  background-color: var(--main-color);
  width: 60px;
  height: 3px;
}

.main{
    overflow: hidden;
}

.img__container{
  position: relative;
}

.swiper,
.swiper-slide{
  display: inherit;
}

.swiper-slide{
  width: auto !important;
  max-width: 100% !important;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  width: 175px;
}

.nav__link span{
  font-size: 1.25rem;
  font-family: var(--title-font);
}

  .scroll-header{
    background-color: rgba(0, 0, 0, 0.7);
  }

  .active-link,
  .active-link i,
  .active-link span{
    color: var(--main-color);
  }


  @media screen and (max-width: 1023px){
    .nav{
      display: flex;
      justify-content: space-around;
    }
    .nav__menu{
      position: fixed;
      bottom: 1.5rem;
      background-color: var(--nav-color);
      box-shadow: 0 5px 14px rgba(151, 93, 42, 0.597);
      width: 90%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 1.8rem 2.8rem;
      border-radius: 2rem;
    }

    .nav__logo{
      width: 140px;
      text-align: center;
    }

    .nav__list{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav__link{
        color: var(--white-color);
        font-weight: var(--font-medium);
        display: grid;
        justify-items: center;
        row-gap: .25rem;
    }

    .nav__link i{
        font-size: 1.5rem;
    }

    .nav__link span{
        display: none;
    }

    .scroll-header{
      background-color: #000;
    }
  }


  /*=============== HOME ===============*/
  .home{
    position: relative;
  }

  .home__container{
    padding: 4rem 0 3rem;
    gap: 2.5rem;
  }

  .home__description{
    font-size: 1.3rem;
    font-weight: var(--font-regular);
    line-height: 1.7rem;
  }

  .home__open{
    font-size: var(--h2-font-size);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .home__open span{
    color: var(--main-color-alt);
  }

  .home__location{
    margin-top: 2rem;
    font-size: var(--h2-font-size);
  }

  .home__location span{
    font-size: var(--normal-font-size);
    color: var(--main-color-alt);
  }

  .home__socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .home__socials p{
    font-size: var(--h3-font-size);
    font-weight: var(--font-regular);
  }

  .home__links{
    display: flex;
    gap: 1rem;
  }

  .home__link{
    font-size: 2.7rem;
    padding: 1rem;
  }

  .home__link i{
    color: var(--main-color-alt);
  }

  .home__img{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    filter: brightness(45%);
    z-index: -1;
    object-fit: cover;
  }

  /*=============== ABOUT ===============*/
  .about{
    position: relative;
  }
  .about__container{
    padding-bottom: 4.5rem;
    position: relative;
  }

  .about__titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  .about__titles .line{
    width: 40px;
  }

  .about__subtitle{
    margin-bottom: 0;
  }

  .about__subtitle-alt{
    font-family: var(--body-font);
    text-align: center;
    margin-bottom: 2rem;
  }

  .about__subtitle-alt span{
    font-family: var(--title-font);
    color: var(--main-color-alt);
  }

  .about__title{
    color: var(--main-color-alt);
  }

  .about__subtitle,
  .about__title{
    text-align: center;
  }

  .about__data{
    position: relative;
  }

  .about__description{
    font-size: var(--h3-font-size);
    margin-bottom: 3.5rem;
  }

  .featured__container{
    position: relative;
  }

  .featured__card{
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 1rem;
  }

  .featured__data{
    position: absolute;
    bottom: 1rem;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.778);
    padding: 1rem .7rem;
    border-radius: 0 .5rem .5rem 0;
  }

  .featured__title{
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
  }

  .featured__description{
    font-size: var(--smaller-font-size);
  }

  /* Swiper class */
  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: '';
  }

  .swiper-button-next,
  .swiper-button-prev{
    top: initial;
    bottom: 0;
    width: initial;
    height: initial;
    background-color: rgba(0, 0, 0, 0.451);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 4px solid var(--main-color);
    padding: 6px;
    border-radius: .5rem;
    font-size: 2.5rem;
    color: var(--text-color);
  }

  .swiper-button-prev{
    left: calc(50% - 6rem);
  }

  .swiper-button-next{
    right: calc(50% - 6rem);
  }

  .btn__container{
    position: relative;
    margin-top: 2.5rem;
  }

  .about__bkgr{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    filter: brightness(20%);
    z-index: -1;
    object-fit: cover;
  }

  /*=============== MENU ===============*/
  .menu{
    position: relative;
  }

  .menu__subtitle,
  .menu__title{
    text-align: center;
    font-family: var(--title-font);
  }

  .menu__title{
    color: var(--main-color-alt);
    margin-bottom: 2rem;
  }

  .menu__bkgr{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(50%);
  }

  .menu__container{
    position: relative;
  }

  .filter__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .menu__filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .card__item{
    background-color: var(--container-color);
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    border-radius: .5rem;
    padding: 0 1rem;
  }

  .card__description{
    color: var(--body-color);
    font-size: var(--h2-font-size);
    font-family: var(--body-font);
  }

  .menu__items-container{
    position: relative;
    display: grid;
    gap: 1.5rem;
  }

  .menu__item{
    background: linear-gradient(to top, rgb(143, 1, 1), #000);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
  }

  .menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-line{
    width: 100%;
    border: 3px dashed var(--main-color);
    margin-top: .5rem;
    margin-bottom: 1.2rem;
  }

  .menu__item-title{
    font-size: var(--h1-font-size);
    color: var(--main-color-alt);
    font-family: var(--title-font);
  }

  .menu__price{
    font-size: var(--h3-font-size);
  }

  .menu__description{
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .menu-img{
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .menu__drinks{
    background-color: var(--nav-color);
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
  }

  .drinks__title-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .drinks__title-cont .line{
    width: 100%;
    border: dashed;
    background-color: transparent;
    color: var(--main-color);
  }

  .drinks__title{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    margin-right: 1rem;
  }

  .drink__item{
    font-size: var(--h3-font-size);
  }

  .drink__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .drinks-flex{
    display: flex;
  }

  /*=============== LOCATION ===============*/
  .location{
    padding-bottom: 6rem;
    position: relative;
  }

  .location__bkgr{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    filter: brightness(50%);
    object-fit: cover;
  }

  .location__subtitle,
  .location__title{
    text-align: center;
  }

  .location__title{
    color: var(--main-color-alt);
    font-weight: var(--font-semi-bold);
  }

  .location__data{
    margin-bottom: 2rem;
  }

  .location__description{
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
  }

  .location__description span{
    color: var(--main-color);
    font-weight: var(--font-bold);
  }

  .location__data .line{
    width: 100%;
    border: dashed;
    background-color: transparent;
    color: var(--main-color);
  }

  .location__info-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
  }

  .info__title{
    color: var(--main-color-alt);
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    margin-bottom: .5rem;
  }

  .location__button{
    border: none;
    width: 70px;
    height: 70px;
    border-radius: .75rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .location__button i{
    font-size: 2rem;
    color: var(--text-color);
  }

  .location__open{
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: .5rem 1.5rem;
    text-align: center;
    background-color: transparent;
    border: 4px solid var(--main-color);
    border-radius: 1rem;
  }

  .open__title{
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    color: var(--main-color-alt);
    margin-bottom: 1rem;
  }

  .open__description{
    font-size: var(--h2-font-size);
  }

  /*=============== BREAKPOINTS ===============*/
  @media screen and (min-width: 567px){
    .container{
      margin-right: 3.5rem;
      margin-left: 3.5rem;
    }

    .home__ctas{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  @media screen and (min-width: 767px){
    .about__container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .about__title,
    .about__subt{
      text-align: initial;
    }

    .featured__container{
      position: relative;
      overflow: hidden;
    }
    .menu__filters{
      grid-template-columns: repeat(3, 1fr);
    }

    .menu__items-container{
      grid-template-columns: repeat(2, 1fr);
    }

    .drinks-flex{
      justify-content: space-around;
    }

    .drink__items{
      display: grid;
      position: relative;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  @media screen and (min-width: 1024px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }

    .section{
      padding: 6rem 0 2rem;
    }

    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }

    .nav__menu{
      width: initial;
      margin-left: auto;
    }

    .nav__list{
      display: flex;
      column-gap: 3rem;
    }

    .nav__link{
      color: var(--text-color);
      font-weight: var(--font-medium);
      transition: .3s;
    }

    .nav__link span{
      font-size: var(--h3-font-size);
    }

    .nav__link:hover{
      color: var(--main-color);
    }

    .nav__link span{
      display: contents;
    }

    .nav__link i{
      display: none;
    }

    .scroll-header{
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
    }

    .menu__filters{
      grid-template-columns: repeat(4, 1fr);
    }

    .menu__items-container{
      grid-template-columns: repeat(3, 1fr);
    }

    .drink__items{
      grid-template-columns: repeat(4, 1fr);
    }

  }