@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@400;500;700&display=swap');

@font-face {
  font-family: 'main';
  src: url('/assets/fonts/SF-Pro.ttf');
  font-style: normal;
  font-weight: 600;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 4.5rem;

    /* colors */
    --primary-color: #4717F7;
    --accent-color: #A43ACB;
    --text-color: #E9DFE0;
    --secondary-color: #130E20;
    --body-color: #000;

    /* Font and Typography */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Oswald', sans-serif;
    --biggest-font-size: 2.7rem;
    --big-font-size: 2.5rem;
    --title-size: 2.3rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-fixed: 10;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --big-font-size: 3.2rem;
      --title-size: 2.7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{ 
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{ 
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 968px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.grid{
    display: grid;
}

.section{
    padding: 4.5rem 0 0;
    overflow-x: hidden;  
}

.section__title{
    font-size: var(--title-size);
    font-weight: var(--font-bold);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.section__title span{
    color: var(--main-color);
}

.section__subtitle{ 
    font-size: var(--h3-font-size);
}

.description{
    font-size: var(--normal-font-size);
}

.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    padding: 1rem;
    color: var(--text-color);
    border: none;
    transition: all 0.3s ease;
    border-radius: 2rem;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 105%;
    height: 110%;
    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    z-index: -1;
    border-radius: inherit;
  }

  .button a{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
  }

  .button-alt{
    display: flex;
    gap: 9px;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
  }

  .button-alt img{
    width: 12%;
  }

  .button-alt a{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
  }

  .square__bkgr{
    position: absolute;
    z-index: -1;
  }

  .circle__bkgr{
    position: absolute;
    z-index: -1;
  }

.main{
    overflow: hidden;
}

/*UI Button with animation*/
.ui-btn {
  --btn-default-bg: transparent;
  --btn-padding: 15px 20px;
  --btn-hover-bg: transparent;
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.5s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: var(--accent-color);
  --default-btn-color: #fff;
  --font-size: var(--h1-font-size);
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: var(--body-font);
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
    color: var(--primary-color);
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.button-alt-2 {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: var(--text-color);
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  border-radius: 1.5rem;
}

.button-alt-2 span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid var(--primary-color);
  border-radius: 1.5rem;
}

.button-alt-2 span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--body-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 1s;
}

.button-alt-2:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
}

.button-alt-2:hover {
  color: var(--text-color);
}

.button-alt-2:active span::before {
  background: var(--accent-color);
}


/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
  }
  
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--text-color);
    font-weight: var(--font-bold);
  }
  
  .nav__link span{
    font-size: 1.25rem;
    font-family: var(--title-font);
  }
  
    .scroll-header{
      background-color: #000;
    }
  
    .active-link,
    .active-link i,
    .active-link span{
      color: var(--primary-color);
    }
  
  
    @media screen and (max-width: 1023px){
      .nav{
        display: flex;
        justify-content: space-around;
      }
      .nav__menu{
        position: fixed;
        bottom: 0;
        background-color: rgba(63, 63, 63, 0.625);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        max-width: 500px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.8rem 2.8rem;
        border-radius: 1rem 1rem 0 0;
      }
  
      .nav__logo{
        text-align: center;
      }
  
      .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .nav__link{
          color: var(--white-color);
          font-weight: var(--font-medium);
          display: grid;
          justify-items: center;
          row-gap: .25rem;
      }
  
      .nav__link i{
          font-size: 1.5rem;
      }
  
      .nav__link span{
          display: none;
      }
  
      .scroll-header{
        background-color: #000;
      }
    }

/*=============== HOME ===============*/
.home__circle{
    position: absolute;
    left: -20%;
    top: -10%;
    width: 50%;
    z-index: -1;
}

.home__bkgr{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
}

.home{
    padding-top: 8.5rem;
}

.home__data{
    margin-bottom: 4.5rem;
}

.home__subtitle{
    margin-bottom: 1rem;
    font-weight:var(--font-semi-bold);
    color: var(--primary-color);
}

.home__description span{
    color: var(--primary-color);
}

.button__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__buttons{
    margin-bottom: 2rem;
}

.home__button{
    width: 200px;
}

.wrapper-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social__link{
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border: 1.5px solid var(--accent-color);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__i{
    color: var(--text-color);
    font-size: 2rem;
}

.wrapper-3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.scroll{
    display: flex;
    align-items: center;
    gap: 4px;
}

.scroll__i{
    color: var(--accent-color);
    font-size: var(--normal-font-size);
}

.scroll a{
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.button-alt-2{
  display: none;
}

/*=============== ABOUT ===============*/
.about{
  padding: 5.5rem 0 4rem;
  position: relative;
}

.about .square__bkgr{
  max-width: 250px;
  left: 0;
  top: -5%;
}

.about__data{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 6rem;
  height: 300px;
}

.about__description{
  background-color: rgba(0, 0, 0, 0.449);
}

.about__description span {
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__img{
  position: absolute;
  right: -15%;
  z-index: -1;
  width: 80%;
}

.modal__title{
  color: rgba(255, 255, 255, 0.199);
  position: absolute;
  left: 0;
  font-size: 6rem;
  font-family: var(--title-font);
  z-index: -1;
}

.about__modals-wrapper{
  margin-top: 3rem;
}

.about__modals{
  display: grid;
  row-gap: 1.5rem;
}

.about__icon{
  width: 60px;
  height: 60px;
}

.about__modal{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.about__modal .circle__bkgr{
  right: -50%;
  max-width: 350px;
  opacity: .7;
}

.about__modals li:nth-child(2){
  align-items: flex-end;
  text-align: end;
}

.about__modal-title{
  font-size: var(--h3-font-size);
}

.about__modal-description{
  font-size: var(--normal-font-size);
}

.about__button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4.5rem;
}

.about__button div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.about__button a{
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.about__button img{
  width: 12%;
}

/*=============== PROJECTS ===============*/
.projects{
  padding-bottom: 2.5rem;
  position: relative;
}

.projects__bkgr{
  font-size: 4.5rem;
  font-family: var(--title-font);
  color: rgba(255, 255, 255, 0.199);
  position: absolute;
  right: 0;
  top: 20%;
  z-index: -1;
}

.projects__container .square__bkgr{
  left: -50%;
  top: 0;
  max-width: 350px;
}

.projects__title{
  margin-bottom: 0;
}
.projects__title,
.projects__description{
  text-align: center;
}

.projects__description{
  margin-bottom: 2.5rem;
}

.project__card{
  display: flex;
  align-items: center;
}

.project__img{
  width: 210px;
}

.project__modal{
  position: relative;
  width: 375px;
  height: 175px;
  background-color: var(--secondary-color);
  padding: 1rem 1.2rem 3rem .7rem;
  border-left: 2px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
}

.work__title{
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
}

.work__container{
  position: relative;
  margin-bottom: 3.5rem;
  width: 100%;
}

.work__description{
  margin-top: .5rem;
  font-size: var(--small-font-size);
}

.work__button{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -15%;
  height: 45px;
  width: 160px;
  background-color: var(--primary-color);
  border-radius: .3rem;
}

.work__button a{
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

/* Swiper class */
.swiper-wrapper{
  position: relative;
}
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-button-next,
.swiper-button-prev{
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: rgba(0, 0, 0, 0.451);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 4px solid var(--primary-color);
  padding: 6px;
  border-radius: .5rem;
  font-size: 2.5rem;
  color: var(--text-color);
}

.swiper-button-prev{
  left: calc(50% - 5rem);
}

.swiper-button-next{
  right: calc(50% - 5rem);
}

.btn__container{
  position: relative;
  margin-top: 5.5rem;
}

.projects__price{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
}

.price__title{
  margin-bottom: 0;
}

.price__amount{
  font-size: 4rem;
  font-weight: var(--font-bold);
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price__description{
  font-size: var(--h2-font-size);
}

.price__description span{
  color: var(--accent-color);
}

/*=============== CONTACT ===============*/
.contact{
  padding-bottom: 5.5rem;
  position: relative;
  border: 5px solid var(--accent-color);
}
.contact__header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.contact__description{
  text-align: end;
  font-size: var(--h3-font-size);
}

.contact__description span:nth-child(1){
  color: var(--primary-color);
}

.contact__description span:nth-child(3){
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-bold);
}

.contact__header{
  margin-bottom: 3rem;
}

.contact__bkgr{
  font-size: 4.5rem;
  position: absolute;
  z-index: -1;
  font-family: var(--title-font);
  color: rgba(255, 255, 255, 0.199);
  left: 0;
  top: 12rem;
}

.contact-form {
  max-width: 700px;
  margin: 0 auto;
}

.form__text{
  color: var(--text-color);
  font-family: var(--body-font);
}

.form__text::placeholder{
  color: rgba(255, 255, 255, 0.408);
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
}

.form__text-alt{
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid rgba(204, 204, 204, 0.585);
  padding: 5px 0;
  background-color: transparent;
  color: var(--text-color);
  font-family: var(--body-font);
}

.underline {
  height: 1px;
  background-color: #ccc;
}

.btn__cont{
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.contact__button{
  font-size: 1.5rem;
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}

/*=============== PORTAL ===============*/
.portal{
  padding-bottom: 3rem;
}
.portal__title span{
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portal__description{
  margin-bottom: 1.5rem;
}

.portal__bkgr{
  position: absolute;
  right: 0;
  z-index: -1;
  font-size: 4.5rem;
  font-family: var(--title-font);
  color: rgba(255, 255, 255, 0.199);
}

/*=============== FOOTER ===============*/
.footer{
  padding-bottom: 7rem;
  background: linear-gradient(to right, hsla(253, 93%, 53%, .3), hsla(284, 58%, 51%, .3));
  backdrop-filter: blur(20px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(20px); /* For Safari support */
  background-clip: padding-box; /* Keep the background within the padding box */
}

.footer__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title,
.footer__copy{
  text-align: center;
}

.footer__title span{
  color: var(--primary-color);
}

.footer__title span:nth-child(2){
  color: var(--accent-color);
}

.footer__copy{
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--text-color);
}


/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media  screen and (min-width: 700px){
  .home__bkgr{
    top: 0;
    width: 75%;
  }
  .home__circle{
    width: 35%;
  }
  .wrapper-1{
    flex-direction: row;
    gap: 3rem;
  }

  .about__img{
    width: 60%;
    right: -12%;
    top: 1rem;
  }

  .about__modals{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .about__modals li:nth-child(2){
    align-items: flex-start;
    text-align: initial;
  }

  .about__modal-description{
    font-size: var(--small-font-size);
  }

  .project__modal::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 18px 0 rgba(225, 0, 255, 0.696);
    z-index: -1;
  }

  .form-group__a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .btn__cont .socials{
    flex-direction: row;
    align-items: center;
  }

  .contact__button{
    width: 200px;
  }
}

@media screen and (min-width: 1024px){
  .container{
    margin-right: auto;
    margin-left: auto;
  }

  .scroll-header{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__logo{
    font-size: 1.8rem;
  }

  .bkgr__text{
    font-size: 8rem;
  }
  .nav__menu{
    width: initial;
    margin-left: auto;
  }

  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    color: var(--text-color);
    transition: .3s;
  }

  .nav__link span{
    font-size: var(--normal-font-size);
    font-weight: 400;
    font-family: var(--body-font);
  }

  .nav__link:hover{
    color: var(--main-color);
  }

  .nav__link span{
    display: contents;
  }

  .nav__link i{
    display: none;
  }

  .home__circle{
    width: 25%;
  }

  .home__bkgr{
    width: 55%;
  }

  .home__subtitle{
    font-size: var(--h2-font-size);
  }

  .home__description{
    font-size: var(--h3-font-size);
  }

  .about__img{
    position: relative;
    width: 350px;
  }

  .about__modal-description{
    font-size: var(--normal-font-size);
  }
}